/* shared style  */
body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  .text-primary{
    color: #FF0000;
  }

  .content-header{
    font-size: 48px;
    color: #070211;
  }

  .content-text{
    color: #070211;
    font-size: 20px;
    line-height: 32px;
  }
  .image-overly{
    background-color: #070211;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 15px;
    position: absolute;
}

/* header related style  */

.header{
   width: 1320px;
   height: 600px;
   margin: 60px auto;
   background: url("../resources/Banner\ Image.png");
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.header .banner{
    text-align: center;
    color: #fff;
    position: absolute;
    max-width: 720px;
    z-index: 1;
}
.banner-sub-title{
    font-size: 32px;
}

.banner-title{
    font-size: 72px;
    font-weight: 500;
    line-height: 95px;
}


/* main section style  */
main{
    max-width: 1320px;
    width: 1320px;
    margin: 0 auto;
}

main section{
    margin: 120px 0;
}


/* discount related style  */

.discount-container{
    text-align: center;
}

.discount-title{
    font-size: 88px;
    font-weight: bold;
    margin: 0 0 40px 0;
}
.discount-sub{
    font-size: 24px;
    margin: 0 0 10px 0;
}
.discount-container > h3{
    margin: 0;
    margin: 0 0 80px 0;
}

/* Welcome to mindset party related css  */
.welcome-mindset-container{
    width: 100%;
    height: 600px;
    background-image: url("../resources/Vectorrr.png");
    position: relative;
}