/* shared style  */
body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  .text-primary{
    color: #FF0000;
  }

  .content-header{
    font-size: 48px;
    color: #070211;
  }

  .content-text{
    color: #070211cb;
    font-size: 20px;
    line-height: 32px;
  }
  .image-overly{
    background-color: #070211;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 15px;
    position: absolute;
}

/* header related style  */

.header{
   width: 1320px;
   height: 600px;
   margin: 60px auto;
   background: url("../resources/Banner\ Image.png");
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.header .banner{
    text-align: center;
    color: #fff;
    position: absolute;
    max-width: 720px;
    z-index: 1;
}
.banner-sub-title{
    font-size: 32px;
}

.banner-title{
    font-size: 72px;
    font-weight: 500;
    line-height: 95px;
}


/* main section style  */
main{
    max-width: 1320px;
    width: 1320px;
    margin: 0 auto 100px auto;
}

main section{
    margin: 120px 0;
}


/* discount related style  */

.discount-container{
    text-align: center;
}

.discount-title{
    font-size: 88px;
    font-weight: bold;
    margin: 0 0 40px 0;
}
.discount-sub{
    font-size: 24px;
    margin: 0 0 10px 0;
}
.discount-container > h3{
    margin: 0;
    margin: 0 0 80px 0;
}

/* Welcome to mindset party related css  */
.welcome-midnight-container{
    width: 100%;
    height: 600px;
    background-image: url("../resources/Vectorrr.png");
    position: relative;
}

.welcome-info{
    color: #fff;
    position: absolute;
    max-width: 620px;
    width: 620px;
    top: 25%;
    left: 10%;
    z-index: 1;
}

.welcome-info > h1{
    font-size: 64px;
    margin: 0 0 30px 0;
    letter-spacing: 11%;
    line-height: 88px;
}

.welcome-info > p{
    font-size: 18px;
    margin: 0 0 45px 0;
    line-height: 30px;
}

.welcome-info > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 50px;
    transition: 0.5s all;
    
}

.welcome-info > a:hover, .welcome-info > a:visited:hover{
    color: #FF0000;
}

.welcome-info > a:visited{
    color: #fff;
}


/* join now related style  */
.join-now-container{
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.04));
    padding: 80px 0;
}
.join-now-info{
    text-align: center;
}

.join-now-info > h3{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    margin: 15px;
}

/* best offer related style  */
.best-offer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-offer-gretting{
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.best-offer-title{
    margin: 0;
    font-size: 48px;
}

.best-offer-container .best-offer-col{
    flex-basis: 30%;
}
.munna{
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 50%;
}

/* holiday sale related style  */

.holiday-sale-container{
    text-align: center;
}

.holiday-sale-info{
    width: 90%;
    margin: 0 auto;
}

.holiday-gretting{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 35px;
}

.holiday-sale-info h1{
    font-size: 92px;
    margin: 0 0 30px 0;
}

.holiday-sale-image-box{
    margin-top: 60px;
    width: 100%;
    height: 660px;
    position: relative;
}
.gift-box{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.person{
    position: absolute;
    top: 0;
    right: 0;
    width: 440px;
}

.discount{
    position: absolute;
    top: 15%;
    right: 22%;
}
.rectangle{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Our Awesome Portfolio related css */
.portfolio-img img{
    margin: 0 10px 10px 0;
}
.portfolio-description{
    margin-bottom: 40px;
}


/* newlatter related css */
.newslatter-container{
    background-color: rgb(255, 0, 0, 0.1);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newslatter-info{
    max-width: 720px;
    text-align: center;
    margin-bottom: 40px;
}
.form{
    display: flex;
    width: 40%;
}
.form > input[type="email"]{
    border: 0;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    font-size: 18px;
}
.form > input[type="submit"]{
    border: 0;
    padding: 15px 45px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background: #FF0000;
    cursor: pointer;
}


/* footer related style  */
footer{
    background-color: #070211;
    padding: 100px 280px;
    color: #fff;
}
.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information > h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.socila-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.socila-links > a{
    transition: 0.5s cubic-bezier(0.87, -0.05, 0.21, 0.93);
}
.socila-links > a:hover{
    transform: scale(1.2);
}

.line{
    margin: 60px 0;
}